/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* General styles */

html {
    min-height:100%; /*for gradient on body */
}

body {
	height: 100%;
	font-family: Verdana;
	font-size: 0.8em;
	background: linear-gradient(white, #d3d8e8) no-repeat;
	min-width: 370px;
}

header {
	background: linear-gradient(#35518e, #29447d);
	color: white;
	overflow: hidden; /*children float. Needed to keep header from collapsing*/
}

footer {
	text-align: center;
	margin-top: 4em;
}

.logo{
	float:left;
	margin: 0.3em;
}

.orangeButton {
	float:right;
	background: linear-gradient(#fa7700, #e66d00);
	text-align: center;
	padding: 0.4em 2.7em;
	text-decoration: none;
	color: white;
	margin-right: 1em;
	margin-top: 1.2em;
}

.orangeButton:hover {
	background: #ff912e;
}

/*Register */

.registerForm {
	margin-left: auto;
	margin-right: auto;
	max-width: 33em;
}

.registerForm div div {
	margin: 2em 0em;
}

.registerForm label {
	display: inline-block;
	width: 11em;
	vertical-align: middle;
}

.registerForm input[type=radio] + label {
    width: auto;
	margin-right: 1em;
}

.registerForm input[type=text], .registerForm input[type=password], .registerForm input[type=submit] {
	display: inline-block;
	vertical-align: middle;
}

.registerForm input[type=text], .registerForm input[type=password] {
	width: 19em;
	border-radius: 5px;
	border: 1px solid black;
	padding: 0.5em;
}

.registerForm input[type=submit] {
	margin-left: 12em;
	margin-top: 1em;
}

.registerForm input[type=radio] {
	margin: 0em 0.3em;
}

.greenButton {
	border-radius: 5px;
	font-size: 1.2em;
	padding: 0.3em 3em;
	color: white;
	border: 1px solid black;
	background: linear-gradient(#35d143, #22b72f);
	cursor: pointer;
}

.greenButton:hover {
	background: #35d143;
}

.greenButtonDisabled {
	background-color: lightgrey;
}

.requiredFieldsTxt {
	text-align: center;
	margin-top: 1.5em;
}

@media screen and ( max-width: 400px ) { 
	.registerForm input[type=text],input[type=password] {
		width: 90%;
		margin: 0.3em;
	}
	
	.registerForm label {
		margin-left: 0.3em;
	}
	
	.registerForm input[type=submit] {
		margin-left: 0.3em;
		width: 93%;
	}
	
	.registerForm label[for=genderlabel]{
		display: table;
		margin-bottom: 1em;
	}
}

/* Jeopardy */

.mainSection, .playerSection {
	display: inline-block;
}

.mainSection {
	width: 65%;
	margin-left: 10%;
}

.playerSection {
	vertical-align: top;
}

.computer, .player {
	margin-top: 1em;
}

.playerAvatar, .computerAvatar {
	border: 1px solid;
	width: 5em;
	height: 5em;
}

.playerAvatar {
	border-color: #e66d00;
}

.computerAvatar {
	border-color: black;
}

.playerText, .computerText {
	display: inline-block;
	vertical-align: top;
	line-height: 2;
}

.playerText {
	font-weight: bold;
}

.questionCount {
	font-weight: bold;
	margin-top: 1em;
}

.statusSection {
	margin-top: 1em;
	margin-bottom: 2em;
}

.questionSection {
	text-align: center;
}

.rightAnswer, .falseAnswer, .chosenAnswer {
	text-align: center;
	width: 80%;
	margin: 0.5em auto;
	padding: 0.5em 0em;
	background: white;
}

.rightAnswer {
	color: green;
	border: 1px solid green;
}

.falseAnswer {
	color: red;
	border: 1px solid red;
}

.chosenAnswer {
	border: 1px solid;
}

.categorySection {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

.category, .question, .questionDisabled, .questionChosen {
	border: 1px solid black;
	text-align: center;
	margin: 0.2em;
	padding: 0.8em 0em;
	/*width: 14.5em;*/
}

.category, .questionChosen {
	background: linear-gradient(#fa7700, #e66d00);
}

.question, .questionChosen {
	color: white;
}

.question {
	background: linear-gradient(#35518e, #29447d);
}

.questionDisabled{
	background-color: #d3d8e3;
	color: #929396;
}

.choose {
	overflow: hidden;
}

.chooseButton {
	margin: 1em 0.2em;
	float:right;
}

.lastGame {
	margin-left: 0.2em;
}

h1 {
	margin-left: 1em;
	float: left;
	font-size: 1.5em;
	margin-top: 0.8em;
}

h2 {
	color: #006bcb;
	margin-top: 3em;
	font-size: 1.2em;
}

@media screen and ( max-width: 850px ) { 	
	.playerSection {
		display: table-header-group;
	}
	
	.mainSection {
		display: table-row-group;
	}
	
	.content {
		display: table;
		width: 100%;
	}
	
	.avatars {
		overflow: hidden;
	}
	
	.player {
		float:left;
		margin-left: 1em;
	}
	
	.computer {
		float: right;
		margin-right: 1em;
		direction: rtl;
	}
	
	.questionCount {
		text-align: center;
	}
}

@media screen and ( max-width: 450px ) {
	.categorySection {
		display: block;
		width: 99%;
		margin: 2em 0.1em;
	}
}