@(registerForm: Form[Registration])

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Jeopardy! - @Messages("registration.register")</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/base.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/screen.css")">
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/framework.js")" type="text/javascript"></script>
    </head>
    <body id="register-page">
      <a title="Zur Registrierung springen" class="accessibility" href="#register">@Messages("registration.jumpToRegistration")</a>
      <!-- Header -->
      <header role="banner" aria-labelledby="bannerheading">
         <h1 id="bannerheading">
            <span class="accessibility">Business Informatics Group </span><span class="gametitle">Jeopardy!</span>
         </h1>
      </header>
      <!-- Navigation -->
		<nav role="navigation" aria-labelledby="navheading">
			<h2 id="navheading" class="accessibility">Navigation</h2>
			<ul>
				<li><a class="orangelink navigationlink" id="loginlink" title="@Messages("registration.clickToRegister")" href="@routes.Jeopardy.authentication" accesskey="l">@Messages("authentication.login")</a></li>
			</ul>
		</nav>

      <!-- Content -->
        <div role="main">
        <!-- Register section -->
             <section id="register" aria-labelledby="registerHeader">
            <h2 id="registerheading" class="accessibility">Registrierung</h2>
            @helper.form(action = routes.Jeopardy.registration()){
                <fieldset>

                    <div style="width: 50%; float:center; min-width:500px; margin-top: 0px; margin-left:25%">
                   <legend>Persönliche Daten</legend>

                            @helper.inputText(registerForm("firstName"),
                            '_label -> Messages("Vorname:"),
                            '_required -> false)

                                @helper.inputText(registerForm("lastName"),
                                    '_label -> Messages("Nachname:"),
                                    '_required -> false)


                    @helper.inputDate(registerForm("birthdate"),
                        '_label -> Messages("Geburtstag:"),
                        '_required -> false)




                    <label>@Messages("Geschlecht"):</label>
                    <fieldset class="inputset">
                        @helper.inputRadioGroup(registerForm("gender"), options = Seq(("male"->"Männlich"),
                    																 ("female"->("Weiblich"))),
                    '_label -> Messages(""),
                            '_required -> false)
                    </fieldset>
                    @helper.select(registerForm("avatar"), options = Seq(
                        ("ALDRICH_KILLIAN"->"Aldrich Killian"),
                        ("BEETLE"->"Beetle"),
						("BLACK_WIDOW"->"Black Widow"),
						("CAPTAIN_AMERICA"->"Captain America"),
						("CYCLOPS"->"Cyclops"),
						("DEADPOOL"->"Deadpool"),
						("DOCTOR_DOOM"->"Doctor Doom"),
						("DOCTOR_OCTOPUS"->"Doctor Octopus"),
						("DRAX"->"Drax"),
						("ELECTRO"->"Electro"),
						("EXTREMIS_SOLDIER"->"Extremis Soldier"),
						("FALCON"->"Falcon"),
						("GAMORA"->"Gamora"),
						("GREEN_GOBLIN"->"Green Goblin"),
						("GROOT"->"Groot"),
						("HAWKEYE"->"Hawkeye"),
						("HULK"->"Hulk"),
						("HYDRA_HENCHMAN"->"Hydra Henchman"),
						("IRON_FIST"->"Iron Fist"),
						("IRON_MAN"->"Iron Man"),
						("J_JONAH_JAMESON"->"J. Jonah Jameson"),
						("LOKI"->"Loki"),
						("MAGNETO"->"Magneto"),
						("MARY_JANE_WATSON"->"Mary Jane Watson"),
						("MODOK"->"MODOK"),
						("NEBULA"->"Nebula"),
						("NICK_FURY"->"Nick Fury"),
						("NOVA"->"Nova"),
						("PEPPER_POTTS"->"Pepper Potts"),
						("POWER_MAN"->"Power Man"),
						("RED_SKULL"->"Red Skull"),
						("ROCKET_RACCOON"->"Rocket Raccoon"),
						("RONAN"->"Ronan"),
						("SPIDERMAN"->"Spiderman"),
						("STARLORD"->"Starlord"),
						("Taskmaster"->"Taskmaster"),
						("THE_MANDARIN"->"The Mandarin"),
						("THOR"->"Thor"),
						("TONY_STARK"->"Tony Stark"),
						("VENOM"->"Venom"),
						("WAR_MACHINE"->"War Machine"),
						("WOLVERINE"->"Wolverine")),
                        '_label -> Messages("Avatar*:"),
                        '_showConstraints -> false,
                            '_required -> false)
					
					@helper.inputText(registerForm("userName"),
                        '_label -> Messages("Username*:"),
                        '_showConstraints -> false)

                    
                    @helper.inputPassword(registerForm("password"),
                    '_label -> Messages("Passwort*:"),
                        '_showConstraints -> false)

                    <p id="requiredhint">Mit "*" gekennzeichnete Felder sind Pflichtfelder</p>

                    <input name="register" id="registerForm" class="greenlink formlink" type="submit" value="@Messages("authentication.toRegistration")"/>
                    </div>
                    <!--<a class="greenlink formlink" title="@Messages("New")" href="@routes.Jeopardy.registration()" accesskey="r">@Messages("authentication.toRegistration")/>-->
                </fieldset>
            }
          </section>
        </div>

        <!-- Footer -->
        <footer role="contentinfo">© 2015 BIG Jeopardy</footer>
        

    </body>
</html>
