@*@(registerForm: Form[at.ac.tuwien.big.we15.lab2.api.Userdata]))*@
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Jeopardy! - @Messages("registration.register")</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/base.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/screen.css")">
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/framework.js")" type="text/javascript"></script>
    </head>
    <body id="register-page">
      <a title="Zur Registrierung springen" class="accessibility" href="#register">@Messages("registration.jumpToRegistration")</a>
      
      <!-- Header -->
      <header role="banner" aria-labelledby="bannerheading">
         <h1 id="bannerheading">
            <span class="accessibility">Business Informatics Group </span><span class="gametitle">Jeopardy!</span>
         </h1>
      </header>
      
      <!-- Navigation -->
		<nav role="navigation" aria-labelledby="navheading">
			<h2 id="navheading" class="accessibility">Navigation</h2>
			<ul>
				<li><a class="orangelink navigationlink" id="loginlink" title="@Messages("registration.clickToRegister")" href="@routes.Jeopardy.authentication" accesskey="l">@Messages("authentication.login")</a></li>
			</ul>
		</nav>
      
      <!-- Content -->
      <div id="register" role="main"> 
            <!-- Register section -->
            <h2 id="registerheading" class="accessibility">Registrierung</h2>
            @helper.form(action = routes.Jeopardy.authentication){
                <fieldset>
                    <legend>Persönliche Daten</legend>
                    @*@helper.inputText(registerForm("firstname"))
                    
                    @helper.inputText(registerForm("lastname"))
                    
                    @helper.inputDate(registerForm("birthdate"))
                    
                    @for(error <- registerForm("birthdate").errors){
                    <div id="error_msg_birthdate" class="hide" role="alert">Verwenden Sie bitte folgendes Datumsformat: dd.mm.yyyy (z.B. 24.12.2010).</div>
                    }
                    
                    <label>@Messages("registration.gender"):</label>
                    <fieldset class="inputset">
                        @helper.inputRadioGroup(registerForm("gender"), options = Seq(("m"->"Männlich"),
                    													 ("f"->("Weiblich"))))
                    </fieldset>
                </fieldset>
                <fieldset>
                    <legend>Spielerdaten</legend>
                    @helper.select(form("avatar"), options = option(
                        ("aldrich-killian"->"Aldrich Killian"),
                        ("beetle"->"Beetle"),
						("black-widow"->"Black Widow"),
						("captain-america"->"Captain America"),
						("cyclops"->"Cyclops"),
						("deadpool"->"Deadpool"),
						("doctor-doom"->"Doctor Doom"),
						("doctor-octopus"->"Doctor Octopus"),
						("drax"->"Drax"),
						("electro"->"Electro"),
						("extremis-soldier"->"Extremis Soldier"),
						("falcon"->"Falcon"),
						("gamora"->"Gamora"),
						("green-goblin"->"Green Goblin"),
						("groot"->"Groot"),
						("hawkeye"->"Hawkeye"),
						("hulk"->"Hulk"),
						("hydra-henchman"->"Hydra Henchman"),
						("iron-fist"->"Iron Fist"),
						("iron-man"->"Iron Man"),
						("j-jonah-jameson"->"J. Jonah Jameson"),
						("loki"->"Loki"),
						("magneto"->"Magneto"),
						("mary-jane-watson"->"Mary Jane Watson"),
						("modok"->"MODOK"),
						("nebula"->"Nebula"),
						("nick-fury"->"Nick Fury"),
						("nova"->"Nova"),
						("pepper-potts"->"Pepper Potts"),
						("power-man"->"Power Man"),
						("red-skull"->"Red Skull"),
						("rocket"->"Rocket Raccoon"),
						("ronan"->"Ronan"),
						("spiderman"->"Spiderman"),
						("starlord"->"Starlord"),
						("taskmaster"->"Taskmaster"),
						("the-mandarin"->"The Mandarin"),
						("thor"->"Thor"),
						("tony-stark"->"Tony Stark"),
						("venom"->"Venom"),
						("war-machine"->"War Machine"),
						("wolverine"->"Wolverine")), "Avatar")
					
					@helper.inputText(registerForm("username"))
					@for(error <- registerForm("username").errors){
                    <div id="error_msg_username" class="hide" role="alert">Der Benutzername muss mindestens 4 Zeichen und darf maximal 8 Zeichen enthalten.</div>
                    }
                    
                    @helper.inputPassword(registerForm("password"))
                    @for(error <- registerForm("password").errors){
                    <div id="error_msg_password" class="hide" role="alert">Das Passwort muss mindestens 4 Zeichen und darf maximal 8 Zeichen enthalten.</div>
                    }*@
                    <button class="greenlink formlink" type="submit" value="Registrieren" accesskey="s">Registrieren</button>
                    <p id="requiredhint">Mit "*" gekennzeichnete Felder sind Pflichtfelder</p>
                </fieldset>
            }
        </div>

        <!-- Footer -->
        <footer role="contentinfo">© 2015 BIG Jeopardy</footer>
        
        <script type="text/javascript">
            //<![CDATA[
            
            $(document).ready(function() {
                if (areAllFieldsValid()) {
                    $('input[type="submit"]').removeAttr('disabled');
                }else{
                    $('input[type="submit"]').attr('disabled', 'disabled');
                }
            });
            
            function areAllFieldsValid() {
                var valid;
                if(hasFormValidation()){
                    valid = $('form')[0].checkValidity();
                }else{
                    valid = !(isUsernameInvalid($("#username").val()) || isPasswordInvalid($("#password").val()));
                }
                if(!hasNativeDateInput()){
                    valid = valid && !isBirthdayInvalid("birthdate");
                }
                return valid;
            }
            
            function updateSubmitState() {
                if (areAllFieldsValid()) {
                    $('input[type="submit"]').removeAttr('disabled');
                }else{
                    $('input[type="submit"]').attr('disabled', 'disabled');
                }
            }

			function updateFieldValidity(isInvalid, fieldSelector, messageSelector) {
                if(isInvalid) {
                  $(fieldSelector).addClass('error');
                  $(messageSelector).removeClass('hide');
                } else {
                   $(fieldSelector).removeClass('error');
                   $(messageSelector).addClass('hide');
                }
            }
            
			/*
             * Birth Date
             */
            $("#birthdate").keyup(function (event) {
                if(hasFormValidation()){
                    this.setCustomValidity("");
                }
                
                var isInvalid;
                if(!hasFormValidation() || !hasNativeDateInput()){
                    isInvalid = isBirthdayInvalid("birthdate");
                }else{
                    isInvalid = !this.validity.valid;
                }
                
                updateFieldValidity(isInvalid, "#birthdate", "#error_msg_birthdate");
                updateSubmitState();
            });
            
			/*
             * Checks if the input with the given id is a valid birthdate or not
             */
            function isBirthdayInvalid(id){
                re = /^(\d{1,2})\.(\d{1,2})\.(\d{4})$/;
                value = getNormalizedDateString("#"+id);
                console.log(value);
                if (value != '') {
                    if (regs = value.match(re)) {
                        if (regs[1] < 1 || regs[1] > 31) {
                            return true;
                        }
                        if (regs[2] < 1 || regs[2] > 12) {
                            return true;
                        }
                        if (regs[3] < 1902 || regs[3] > (new Date()).getFullYear() + 100) {
                            return true;
                        }
                        return false;
                    }else{
                        return true;
                    }
                } else {
                    return false;
                }
            }
            
            /*
             * User Name
             */
            $("#username").keyup(function (event){
                if(hasFormValidation()){
                    this.setCustomValidity("");
                }
                
                var isInvalid;
                if(!hasFormValidation()){
                    isInvalid = isUsernameInvalid($(event.target).val());
                }else{
                    isInvalid = !this.validity.valid;
                }
                
                updateFieldValidity(isInvalid, "#username", "#error_msg_username");                
                updateSubmitState();
            });
            
            /*
             *  checks if the given input value is a valid username or not
             */
            function isUsernameInvalid(value) {
                return value.length < 4 || value.length > 8;
            }
            
			/*
             * Password
             */
            $("#password").keyup(function (event){
                if(hasFormValidation()){
                    this.setCustomValidity("");
                }
                
                var isInvalid;
                if(!hasFormValidation()){
                    isInvalid = isPasswordInvalid($(event.target).val());
                }else{
                    isInvalid = !this.validity.valid;
                }
                
                updateFieldValidity(isInvalid, "#password", "#error_msg_password");                
                updateSubmitState();
            });
            
            /*
             *   checks if the given input value is a valid username or not
             */
            function isPasswordInvalid(value) {
                return value.length < 4 || value.length > 8;
            }
            //]]>
        </script>
    </body>
</html>
